body {
    padding: 0;
    margin: 0;
}


/*nav*/

.l-container {
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.main-header {
    height: 4rem;
    border-bottom: 5px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    font-size: 22px;
}

.main-menu__link:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.main-menu__link {
    padding: 10px;
    color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-header__block {
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.main-menu li {
    padding: 0 20px;
}

.main-logo {
    height: 3rem;
    margin-top: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

@media screen and ( max-width: 768px) {
    .main-menu__item {
        padding: .5rem 0 .5rem 1rem
    }
    .main-menu__link {
        color: white;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 20px;
    }
    .main-menu__link:hover {
        background-color: lightslategray;
        border-radius: 5px;
    }
    .main-nav {
        position: fixed;
        height: calc(100vh - 4rem);
        width: 80wh;
        background: rgba(0, 0, 0, 0.3);
        top: 4.3rem;
        right: -80vw;
    }
    .main-menu {
        flex-direction: column;
    }
    .main-menu li {
        padding: 10px 0;
    }
    .show {
        right: 0px;
    }
    .main-menu-toggle {
        width: 2.4rem;
        height: 1.6rem;
        background: linear-gradient(black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%);
        cursor: pointer;
    }
}


/*********************galeria**************/

body {
    background-color: rgba(255, 0, 0, 0.6);
}

section {
    width: 90%;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Galindo', cursive;
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 10px;
    border: 5px solid white;
}

.galeria img {
    width: 350px;
    height: 100%;
}


/*****estilos modal****/

.modal {
    display: none;
    opacity: 0;
}

.modal:target {
    display: block;
    opacity: 1;
    transition: all 1s;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50000000;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}


/*****************footer********************************/

footer {
    background-color: #878585;
    padding: 20px 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    grid-template-areas: "contactanos-footer imagen-footer valores-footer";
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}

footer span {
    font-weight: bold;
}

.contactanos-footer {
    grid-area: contactanos-footer;
    padding: 0 20px;
}

.contactanos-footer ul {
    list-style: none;
    padding: 0;
}

.imagen-footer {
    grid-area: imagen-footer;
    border-right: 5px solid white;
    border-left: 5px solid white;
    padding: 0 50px;
}

.imagen-footer img {
    width: 100%;
    border-radius: 50%;
}

.valores-footer {
    grid-area: valores-footer;
}

.valores-footer ul {
    list-style: none;
    padding: 0;
}

.valores-footer ol {
    padding: 0;
    font-weight: bold;
}


/*responsive footer*/

@media screen and (max-width:767px) {
    footer {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "contactanos-footer" "imagen-footer" "valores-footer";
    }
    .imagen-footer {
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-left: none;
        border-right: none;
        padding: 20px 0;
    }
    .galeria {
        padding: 0 50px;
    }
}

@media screen and (width:768px) {
    footer {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "contactanos-footer valores-footer" "imagen-footer imagen-footer";
        justify-items: center;
        align-items: center;
    }
    .imagen-footer {
        border: none;
        margin-top: 20px;
    }
    .contactanos-footer {
        border-right: 5px solid white;
        padding-right: 50px;
    }
    svg {
        margin-top: 100px;
    }
}

@media screen and (width:280px) {
    footer {
        padding: 20px;
    }
    .contactanos-footer {
        width: 100%;
    }
}


/*social*/

.social .fab {
    width: 20px;
    text-align: center;
    font-size: 24px;
}

.social {
    position: fixed;
    z-index: 50000;
    left: -40px;
    top: 250px;
}

.social ul {
    list-style: none;
}

.social a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    padding-right: 30px;
    padding-left: 20px;
    z-index: 100;
    transition: 0.1s ease;
}

.social .fa-facebook-f {
    background: #3b5998;
}

.social .fa-facebook-messenger {
    background: #0084ff;
}

.social .fa-whatsapp {
    background: #25d366;
}

.social a:hover {
    padding: 10px 45px;
}

@media screen and (max-width:760px) {
    .social .fa-facebook-f {
        background: #3b5998;
        opacity: 0.7;
    }
    .social .fa-facebook-messenger {
        background: #0084ff;
        opacity: 0.7;
    }
    .social .fa-whatsapp {
        background: #25d366;
        opacity: 0.7;
    }
    .social {
        top: 400px;
    }
}